<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Diagnosis</title>
    <link rel="icon" href="./static/images/heart-pulse-solid.svg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./static/css/style.css">
    <style>
        img {
            height: 40rem;
            border: var(--border);
            border-radius: .5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-size: cover;
            background-position: center;
        }

        img:hover {
            transform: scale(0.8);
        }
    </style>
</head>

<body>
    <header class="header">
        <a href="{{url_for('index')}}" class="logo"><i class="fas fa-heartbeat"></i> AI Diagnosis</a>
        <nav class="navbar">
            {% if username %}
            <a href="{{url_for('index')}}#home">Home</a>
            <a href="{{url_for('index')}}#services">services</a>
            <a href="{{url_for('index')}}#scans">Scans</a>
            <a href="{{url_for('index')}}#blogs">Blogs</a>
            <a href="{{url_for('index')}}#about">about</a>
            <a href="{{url_for('profile')}}"><span class="fas fa-user"></span></a>
            {% else %}
            <a href="{{url_for('login')}}">Login</a>
            {% endif %}
        </nav>

        <div id="menu-btn" class="fas fa-bars"></div>

    </header>
    <section class="doctors" id="doctors">
        <h1 class="heading" style="margin: 8rem;">
            Admins
        </h1>
        <div class="box-container">
            <div class="glass-box">
                <img style="height: 40rem;" src="../static/images/admin1.jpg" alt="">
                <h3>Kalim Ansaal</h3>
                <h3>Timergara ,KPK</h3>
                <h3>Pakistan</h3>
                <h3>+92 34888 32950</h3>
                <h3> <a href="mailto:kaleemullah2476@gmail.com" style="color: white; font-size: 20px">kaleemullah2476@gmail.com</a>
                </h3>
                <div class="share">
                    <a href="#" class="fab fa-linkedin"></a>
                    <a href="#" class="fab fa-github"></a>
                    <a href="#" class="fab fa-instagram"></a>

                </div>
            </div>
            <div class="glass-box">
                <img style="height: 40rem;" src="../static/images/admin2.jpg" alt="">
                <h3>Muhammad Tanveer</h3>
                <h3>Timergara ,KPK</h3>
                <h3>Pakistan</h3>
                <h3>+92 34949 90737</h3>
                <h3> <a href="mailto:21051706@kiit.ac.in" style="color: white; font-size: 20px">tanveer123@gmail.com</a>
                </h3>
                <div class="share">
                    <a href="https://www.linkedin.com/in/abhishek-mallick09" class="fab fa-linkedin"></a>
                    <a href="https://github.com/Abhishek-Mallick" class="fab fa-github"></a>
                    <a href="https://instagram.com/_abhishek_mallick_" class="fab fa-instagram"></a>

                </div>
            </div>
            <div class="glass-box">
                <img style="height: 40rem;" src="../static/images/admin3.jpg" alt="">
                <h3>Muhammad Irfan</h3>
                <h3>Timergara ,KPK</h3>
                <h3>Pakistan</h3>
                <h3>+92 34401 98393</h3>
                <h3> <a href="mailto:21051706@kiit.ac.in" style="color: white; font-size: 20px">irfan123@gmail.com</a>
                </h3>

                <div class="share">
                    <a href="https://www.linkedin.com/in/abhishek-mallick09" class="fab fa-linkedin"></a>
                    <a href="https://github.com/Abhishek-Mallick" class="fab fa-github"></a>
                    <a href="https://instagram.com/_abhishek_mallick_" class="fab fa-instagram"></a>

                </div>
            </div>
        </div>
    </section>
    <section class="doctors" id="doctors">
        <h1 class="heading" style="margin: 8rem;">
            About Project
        </h1>
        <div class="box-container">
          
                <!-- <iframe src="../static/assets/Hack-for-Health-(1)docx.pdf" width="1000rem" height="400px"></iframe> -->
                <iframe src="../static/assets/Hack-for-Health.pdf" style="width: 95%; max-width: 1100px; height: 600px; margin: auto;"
                    frameborder="0"></iframe>

        </div>
    </section>

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>quick links</h3>
                <a href="{{url_for('index')}}#home"><i class="fas fa-chevron-right"></i> home</a>
                <a href="{{url_for('index')}}#services"><i class="fas fa-chevron-right"></i> services</a>
                <a href="{{url_for('index')}}#book"><i class="fas fa-chevron-right"></i>book</a>
                <a href="{{url_for('index')}}#scans"><i class="fas fa-chevron-right"></i> scans</a>
                <a href="{{url_for('index')}}#blogs"><i class="fas fa-chevron-right"></i> blogs</a>
                <a href="{{url_for('index')}}#about"><i class="fas fa-chevron-right"></i> about</a>
            </div>
            <div class="box">
                <h3>our services </h3>
                <a href="{{url_for('index')}}#book"><i class="fas fa-chevron-right"></i> Book Appointment</a>
                <a href="{{url_for('index')}}#services"><i class="fas fa-chevron-right"></i> Chat with Doc</a>
                <a href="{{url_for('index')}}#services"><i class="fas fa-chevron-right"></i> Mental Health</a>
                <a href="{{url_for('index')}}#services"><i class="fas fa-chevron-right"></i> Chatbot</a>
                <a href="{{url_for('index')}}#scans"><i class="fas fa-chevron-right"></i> Scans</a>
                <a href="{{url_for('index')}}#blogs"><i class="fas fa-chevron-right"></i> Blogs</a>


            </div>
            <div class="box">
                <h3>contact info</h3>
                <a href="" class="disabled"><i class="fas fa-phone"></i>+92 30890 17938</a>
                <a href="" class="disabled"><i class="fas fa-phone"></i>+92 34888 32950</a>
                <a href="mailto:altaf144156@gmail.com"><i class="fas fa-envelope"></i>altaf144156@gmail.com</a>
                <a href="mailto:majojan26@gmail.com"><i class="fas fa-envelope"></i>majorjan26@gmail.com</a>
                <a href="" class="disabled"><i class="fas fa-map-marker-alt"></i>WB, INDIA</a>
            </div>
            <div class="box">
                <h3>follow us</h3>
                <a href="#"><i class="fab fa-linkedin"></i>linkedin</a>
                <a href="#"><i
                        class="fab fa-linkedin"></i>linkedin</a>
                <a href="#"><i class="fab fa-github"></i>Github</a>
                <a href="#"><i class="fab fa-github"></i>Github</a>
            </div>
        </div>

        <div class="credit">made with AI Diagnosis @ 2025</div>
    </section>
    <script src="./static/js/script.js"></script>
</body>

</html>